<!-- <p>sides works!</p> -->

<div class="container">
  <h2>Sides</h2>
  <p>Add name, description, pricing</p>
  <table class="table table-hover align-items-stretch">
    <thead>
      <tr>
        <th>Sides</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Sweet potato fries</td>
        <td>Baked and served with spicy ketchup</td>
        <td>$5.00</td>
      </tr>
      <tr>
        <td>Fried onion rings</td>
        <td>Deep-fried with a side of ranch</td>
        <td>$6.00</td>
      </tr>
      <tr>
        <td>Salad</td>
        <td>Greens, tomatoes, croutons, and cucumbers</td>
        <td>$3.00</td>
      </tr>
      <tr>
        <td>Wings</td>
        <td>Served with celery and carrots</td>
        <td>$7.00</td>
      </tr>
    </tbody>
  </table>
</div>
