<!-- <p>sides works!</p> -->

<div class="container">
  <h2>Sides</h2>
  <!-- <p>Add name, description, pricing</p> -->
  <table class="table table-hover align-items-stretch">
    <thead>
      <tr>
        <th>Sides</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ sweetPotato.name }}</td>
        <td>{{ sweetPotato.description }}</td>
        <td>{{ sweetPotato.price }}</td>
        <button>+</button>
      </tr>
      <tr>
        <td>{{ friedOnion.name }}</td>
        <td>{{ friedOnion.description }}</td>
        <td>{{ friedOnion.price }}</td>
        <button>+</button>
      </tr>
      <tr>
        <td>{{ salad.name }}</td>
        <td>{{ salad.description }}</td>
        <td>{{ salad.price }}</td>
        <button>+</button>
      </tr>
      <tr>
        <td>{{ salad.name }}</td>
        <td>{{ salad.description }}</td>
        <td>{{ salad.price }}</td>
        <button>+</button>
      </tr>
    </tbody>
  </table>
</div>
