<!-- <p>pizza works!</p> -->


<div class="container">
  <h2>Pizza</h2>
  <p>Add name, description, pricing</p>
  <table class="table table-hover align-items-stretch">
    <thead>
      <tr>
        <th>Pizza</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Margherita</td>
        <td>tomatoes, mozzarella cheese, and fresh basil</td>
        <td>$15.00</td>
      </tr>
      <tr>
        <td>Pepperoni</td>
        <td>description goes here</td>
        <td>$17.00</td>
      </tr>
      <tr>
        <td>Cheese</td>
        <td>mozzarella, gorgonzola, fontina, and parmigiano</td>
        <td>$12.00</td>
      </tr>
      <tr>
        <td>Veggie</td>
        <td>mushrooms, green peppers, tomatoes, black olives, and onions</td>
        <td>$14.00</td>
      </tr>
    </tbody>
  </table>
</div>



