<!-- <p>burgers works!</p> -->

<div class="container">
  <h2>Burgers</h2>
  <!-- <p>Add name, description, pricing</p> -->
  <table class="table table-hover align-items-stretch">
    <thead>
      <tr>
        <th>Burgers</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ bbqBacon.name }}</td>
        <td>{{ bbqBacon.description }}</td>
        <td>{{ bbqBacon.price }}</td>
        <button>+</button>
      </tr>
      <tr>
        <td>{{ swissAvocado.name }}</td>
        <td>{{ swissAvocado.description }}</td>
        <td>{{ swissAvocado.price }}</td>
        <button>+</button>
      </tr>
      <tr>
        <td>{{ blueCheese.name }}</td>
        <td>{{ blueCheese.description }}</td>
        <td>{{ blueCheese.price }}</td>
        <button>+</button>
      </tr>
      <tr>
        <td>{{ cheese.name }}</td>
        <td>{{ cheese.description }}</td>
        <td>{{ cheese.price }}</td>
        <button>+</button>
      </tr>
    </tbody>
  </table>
</div>
