<h3>Cart</h3>

<ng-container *ngIf="cartState$ | async">

  <div class="list-group-item cart-align">
    <table class="table caption-top">
      <thead>
        <tr>
          <th>Item</th>
          <th>Amount</th>
          <th>Price</th>
          <th>Remove--once set</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items; let i = index;">
          <td>{{ item.name }}</td>
          <td>

             <input class= "product-quantity" type="number" value="1" min="1">

          </td>
          <td>{{ item.price | currency:'USD':'symbol':'1.2-2' }}</td>
          <td><button (click)="removeCartItem(i)" class="btn btn-danger btn-sm">Remove</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>



    <mat-card class="checkout-cart cart-align">
      <mat-card-header>
        <mat-card-title>Checkout</mat-card-title>
        <br>
          <mat-card-subtitle>
            SubTotal:
            <!-- {{ state.totals.subTotal }} -->
            <br>
            Tax:
            <!-- {{ state.totals.tax }} -->
            <br>
            Order Total:
            <!-- {{ state.totals.cartTotal }} -->
          </mat-card-subtitle>
          <mat-card-subtitle>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>


  <br>
  <form class="cart-align" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">
        Name
      </label>
      <input pattern="[a-zA-Z ]*" minlength="2" id="name" type="text" formControlName="name" required>
    </div>

    <div>
      <label for="phone">
        Phone Number
      </label>
      <input minlength="10" maxlength="10" id="phone" type="text" formControlName="phone" required>
    </div>
    <br>
    <br>
    <button class="btn btn-success btn-md" type="submit" [disabled]="!checkoutForm.valid">Purchase</button>
  </form>


</ng-container>





