<h3>Cart</h3>

<div *ngFor="let item of items" class="cart-item">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="phone">
      Phone Number
    </label>
    <input id="phone" type="text" formControlName="phone">
  </div>
  <br>
  <button class="btn btn-success btn-md" type="submit" disabled>Purchase</button>
</form>
