h3 {
  color: firebrick;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cart-item, .shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #EEEEEE;
}

input {
  display: flex;
}

.list-group-item {
  width: 100%;
  display: flex;
  min-width: 600px;
  max-width: 750px;
  flex-direction: row;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;

}


/*
<table class="table" ng-show="cartData.length > 0">
<thead>
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th colspan="2">Quantity</th>
  </tr>
</thead>
<tbody>
  <tr ng-repeat="item in cartData">
    <td>{{item.name}}</td>
    <td>{{item.price | currency}}</td>
    <td>{{item.quantity}}</td>
    <td>
      <button ng-click="remove($index)" class="btn btn-default">Remove</button>
    </td>
  </tr>
</tbody>
</table> */
