h3 {
  color: firebrick;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cart-item, .shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #EEEEEE;
}

input {
  display: flex;
}

.list-group-item {
  width: 100%;
  display: flex;
  min-width: 600px;
  max-width: 750px;
  flex-direction: row;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;

}

.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all .5s;
}

.btn-warning.btn-outline {
  color: #d9534f;
}

.btn-warning.btn-outline:hover {
  color: rgb(243, 153, 35);
}

.product-quantity {
  width: 17%;
}
